/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	/*basic tags*/
	body{
	   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	   font-size: 100%;
	   color: #202020;
	}
	body.sub-page .header{
	  background: url('../images/des-arts-logo-short.png') no-repeat left top;
	 }
	 
	h1{line-height: 1.2em;}
	 
	h2{
	   font-size: 120%;
	   margin: .5em 0 .5em 0;
	}
	h3{
	   font-size: 100%;
	   margin: .2em 0 .5em 0;
	   color: #888;
	}
	p, ul, dl{
	   margin-bottom: 1.2em;
	    line-height: 1.4em;
	}
	
	code{
	  display: block;
	  margin-bottom: 1em;
	  padding: 1em .5em;
	  background-color: #eee;
	  border-left: 5px solid #c8c8c8;
	  word-break: break-all;
	  word-wrap: break-word;
	}
	
	/*links*/
	a{
	   color: inherit;
	}
	a:hover{
	   background-color: #888888;
	   color: #202020;
	   text-decoration: none;
	}
	a.no-hover{
	   background-color: transparent !important;
	}
	.button{
	   display: inline-block;
	   height: 2em;
	   line-height: 2em;
	   width: auto;
	   padding: 0 1em;
	   color: #fff;
	   cursor: pointer;
	   text-decoration: none;
	}
	.button:hover{
	   background-color: #888888;
	   color: #fff;
	}
	.button-orange{
	   background-color: #f15a2a;
	}
	.button-yellow{
	   background-color: #fcaf3f;
	}

	/*reusable classes*/
	.hidden{
	   display: none;
	}
	.clear{
	   clear: both;
	}
	.callout{
	   display: block;
	   margin-bottom: .1em;
	   font-size: 180%;
	   color: #be1f2e;
	   font-weight: bold;
	}
	
	.no-style{
	  list-style: none;
	  padding: 0;
	}
	.active{
	   background-color: #888888;
	}
	
	.print{display: none;}

	.warning{height: 38px; padding: 12px 12px 0 12px; background-color: #fcf8e3; text-align: center;}

	/*grid tweaks*/
	.container{
	   padding-top: 1em;
	   padding-bottom: 1em;
	}
	
	.row{margin-top: 1em;  margin-bottom: 1em;}

	/*header*/
	.header{
	   padding-top: 2em;
	   border-bottom: 2px solid #fcaf3f;
	}
	
	.event-date{
	   clear: both;
	   text-align: center;
	   margin-bottom: 0;
	}

	/*navigation*/
	
	.navigation{
	    margin:0;
	    padding: 0;
		background-color: #202020;
		overflow: hidden;
	}
	
	.navigation p{color: #888; height 2em; line-height: 2em; }
	
	.navigation a{
	  text-decoration: none;
	 }
	
	.navigation .row{height: 2em; margin-top: 0; margin-bottom: 0; position: relative;}
	
	.nav{
	   position: absolute;
	   top: 0;
	   right: 0;
	   height: auto;
	   margin-bottom: 0;
	   list-style: none;
	   overflow: hidden;
	}
	.nav li{
	   float: left;
	   margin-left: 3em;
	}
	.nav li a{
	   display: block;
	  height: 2em;
	  line-height: 2em;
	  padding: 0 .5em;
	  vertical-align: middle;
	   text-align: center;
	   color: #fff;
	}
	.nav li a:hover{
	   background-color: transparent;
	}
	.nav li:hover, navigation li.active:hover{
	   background-color: #f15a2a;
	   color: #fff;
	   cursor: pointer;
	}


	/*content*/

	.content h2{
	   color: #f15a2a
	}
	
	.content h3{
	  padding-bottom: .2em;
	  border-bottom: 2px solid #f15a2a;
	 }
	
	.content ul{
	  list-style-type: none;
	}
	
	.content ul li{
	  margin-bottom: .5em;
	}
	
	.content table{
	   width: 100%;
	   margin: 0 0 3em 0;
	   padding: 1em;
	   border-collapse: collapse;
	   border-bottom:  2px solid #fff;
	}
	.content table thead{
	   border-bottom:  1px solid #fff;
	   
	}
	.content table tbody{
	   background-color: #fff;
	}
	.content table tbody tr:nth-of-type(odd) { 
	  background: #f9f9f9; 
	}
	.content table th, .content table td{
	   text-align: left;
	   line-height: 1.2em;
	   padding: .8em 3% .5em 0;
	   border-bottom: 1px solid #f9f9f9;
	}
	.content table th{
	   vertical-align: bottom;
	}
	.content table td{
	   vertical-align: top;
	}
	
	.content table td.time{
	  padding-left: 6px;
	}

	/*special content classes*/
	.hero{
	   margin: 3em 2em;
	   padding: 2em;
	   background-color: #fcaf3f;
	   text-align: center;
	   overflow: hidden;
	}
	.hero p{
	   padding: 0;
	   line-height: 1.4em;
	}
	.contest{
	   background-color: #f15a2a;
	}
	.contest h2{
	   color: #fff;
	}
	.themes .callout{
	  text-align: center; margin-top: 2em; font-size: 120%;
	}
	.schedule .time{
	   width: 20%;
	}
	.schdedule .event{
	  width: 55%;
	}
	.schedule .place{
	  width: 25%;
	}
	.schedule .description{
	  display: block;
	  margin-top: .5em;
	  margin-bottom: .5em;
	  font-size: 90%;
	  color: #777;
	}
	.des-arts-badge{
	  float: left;
	  width: 60%;
	}
	.des-arts-badge-image{
	  float: left;
	  width: 28%;
	  margin-left: 5%;
	 }
	#arts-council{
		margin-top: 2em;
	}
	.organizers, .directors{
	   font-size: 90%;
	   list-style: none;
	}
	.organizers li, .directors li{
	  display: inline-block;
	  width: 45%;
	  margin-right: 1em;
	}
	.sidebar{
	   margin-top: .5em;
	}
	.sidebar h3{
	   margin-top: 2em;
	}
	
	.sidebar h3.first{
	  margin-top: 0;
	}
	
	/*styles for events page and photo*/
	.winners-list{clear: both; margin-bottom: 2em; overflow: hidden;}
	.winners-list dt{clear: left; float: left; font-weight: bold;}
	.winners-list dd{float: left; margin-left: 1em;}
	.photo{display: none; width: 23.24561%; margin: 10px;}
	.photo a {display: block; padding: 10px; background-color: #eee;}
	.photo a:hover{background-color: #ddd;}
	.fancybox-nav:hover, .fancybox-close:hover{background-color: transparent;}
	.load{display: block; background: url('../js/fancybox/fancybox_loading.gif') no-repeat center center; height: 100px; width: 100px; margin: auto; background-color: #202020; border-radius: 5px; }

	/*footer*/
	.footer{
	   background-color: #202020;
	}
	.footer h3{
	   color: #888;
	}
	.footer p{
	   color: #fff;
	   line-height: 1.2em;
	}
	
	.footer a.image{background-color: transparent !important;}
	
	.addthis_toolbox a:hover{background-color: transparent !important;}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body.sub-page .header{background-position: center 1em; background-size: 100%;}
	body.sub-page .header h1{text-align: center;}
	ul{list-style: none;}
	.event-date{margin-top: 2em;}
	.callout{display: inline; font-size: 100%;}
	.header h1{width: 100%;}
	.navigation{padding-top:6px;}
	.navigation p{text-align: center; height: auto; line-height: 1.2em !important; margin-bottom: 1.5em;}
	.navigation .row{height: auto;}
	.nav{position: static;}
	.nav li{width: auto; margin-left: 2px; margin-right: 2px; margin-top: 4px; background-color: #888;}
	.nav li:last-child{border-right: 0;}
	.nav li.active{color: #202020;}
	.hero{margin: 1.5em 0 0;}
	.hero p{padding: 0;}
	.content table thead{position: absolute; left: -9999px; margin-left: -9999px;}
	.content table tbody tr:nth-of-type(odd) {background: transparent; }
	.content table td, .content table tr, .content table tbody{display: block; width: 100% !important;}
	.content table td{border: 0; !important;}
	.content table td.time{margin-top: 1em;font-weight: bold; background-color: #eee;}
	.sidebar {padding-top: .5em; padding-bottom: 1em;}
	.sidebar p, .sidebar dl{line-height: 1.1em; margin-bottom: 1em;}
	.des-arts-badge{float: none; width: 98%;}
	.des-arts-badge-image{float: none; width: 50%;}
	.photo{width: 100%; margin: 10px 0;}
	.footer{font-size: 100%;}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}